* {
  margin: 0;
  box-sizing: border-box;
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(253, 166, 59);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL2xyL3NtaXRoc25ubWFhaGMyMDEwODFhYjAwNDAwMDAwMS1pbWFnZS5qcGc.jpg");
}

.header {
  display: flex;
  height: fit-content;
  gap: 20px;
  justify-content: center;
}

h1 {
  font-family: "inter", sans-serif;
  font-size: 100px;
  color: aliceblue;
}

.num {
  font-family: "inter", sans-serif;
  font-size: 100px;
  font-weight: 500;
  background-color: rgb(249, 189, 115);
  border-radius: 10px;
  padding: 0px 20px;
  color: aliceblue;
}

.container {
  width: 1000px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background-image: url("slave.png");
  background-size: cover;
  background-position: center;
}

.red {
  width: 300px;
  height: 300px;
}

.blue {
  width: 300px;
  height: 300px;
  background-image: url("./angryb.png");
  background-size: cover;
  background-position: center;
}

.conti {
  width: 300px;
  height: 600px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }
  .num {
    font-size: 50px;
  }
  .container {
    width: 500px;
    height: 400px;
    gap: 16px;
  }
  .box {
    width: 150px;
    height: 150px;
  }
  .blue {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .num {
    font-size: 30px;
  }
  .container {
    width: 330px;
    height: 210px;
    gap: 10px;
  }
  .box {
    width: 100px;
    height: 100px;
  }
  .blue {
    width: 100px;
    height: 100px;
  }
}
