body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 850px;
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  border: solid black 1px;
}

.coor {
  height: 50px;
  width: 50px;
}
