.cont {
  height: fit-content;
  width: 660px;
  overflow-x: scroll;
}

.box {
  width: 200px !important;
  height: 300px;

  object-fit: cover;
  flex-shrink: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.box_cont {
  display: flex;
  gap: 30px;
  align-items: center;
}
