* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
width: 377px;
 height: fit-content;
  min-height: 290px;
  position: absolute;
  top: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px #00000029;
  display: flex;
  align-items: center;
  padding: 24px 16px;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: "inter", sans-serif;
  font-size: 20px;
  font-weight: 600px;
}

.input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 16px;
  color: #71717a;
  border: solid #e4e4e7 1px;
}
.add {
  height: 40px;
  width: 59px;
  background-color: #3c82f6;
  color: #f9f9f9;
  font-size: 14px;
  font-family: "inter", sans-serif;
  border: none;
  border-radius: 6px;
}

.item {
  width: 345px;
  height: 62px;
  background: #F9FAFB;
padding: 16px;
display: flex;
justify-content: space-between;
align-items: center;
font-family: "inter",sans-serif;
font-size: 14px;
font-weight: 400;
border-radius: 5px;
}

.delete {
  width: 67px;
  height: 30px;
  background: #FEF2F2;
color: #EF4444;
font-family: "inter",sans-serif;
font-size: 14px;
border: none;
border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}