* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://thumbs.dreamstime.com/b/persian-carpet-texture-21684751.jpg");
  flex-direction: column;
  gap: 20px;
}

.header {
  width: 60%;
  height: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.imgflip.com/7suivt.gif");
}
a {
  display: inline-block;
  width: 30%;
  aspect-ratio: 3/2;
}
.box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: beige;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 0.5s ease-out 0.5s;
  cursor: pointer;
}

.box:hover {
  filter: brightness(150%);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUEzYFRikOCPE8V5sTV4qg9yF00_kXx8aqzw&s");
}

.reaction {
  background-image: url("/Users/25LP4542/newfo/back/reaction.png");
}

.todo {
  background-image: url("/Users/25LP4542/newfo/back/Todo.png");
}
.Xo {
  background-image: url("/Users/25LP4542/newfo/back/XO.png");
}
.Zuram {
  background-image: url("/Users/25LP4542/newfo/back/zuram.png");
}

.snake {
  background-image: url("/Users/25LP4542/newfo/back/snake.png");
}

button {
  background-color: white;
  border-width: 2px;
  border-color: red;
  padding: 7px;
  border-radius: 5px;
  color: red;
}
