* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  color: red;
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  flex-direction: column;
  gap: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-vector/black-white-squares-pattern_391563-699.jpg?w=360");
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.pinimg.com/736x/1d/ba/f8/1dbaf852bb5dad1c2b8c8b41e0180f53.jpg");
}

.press {
  height: 100%;
  width: 100%;
  color: white;
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  background-image: url("ninja.png");
  background-size: 100% 100%;
}

.start {
  border-radius: 50px;
  width: 100px;
  height: 50px;
  font-size: 25px;
}

.restart {
  width: 75px;
  height: 25px;
  font-size: 15px;
  border-radius: 30px;
}
