.cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url("./babyoil.png");
}

.box {
  height: 50%;
  min-height: 400px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: solid rgb(253, 131, 151) 2px;
  background-color: pink;
}
.coor {
  width: 10%;
  height: 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* border: solid rgb(253, 131, 151) 0.3%; */
}

h1 {
  font-family: "inter", sans-serif;
  font-size: 50px;
  color: pink;
}

.header {
  font-size: 70px;
}

#joystick {
  position: absolute;
  bottom: 30%;
  left: 10px;
  width: 120px;
  height: 120px;
}

.dir {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  touch-action: none;
  text-align: center;
}

.dir.up {
  top: 0;
  left: 40px;
}
.dir.down {
  bottom: 0;
  left: 40px;
}
.dir.left {
  top: 40px;
  left: 0;
}
.dir.right {
  top: 40px;
  right: 0;
}

@media screen and (max-width: 600px) {
  .box {
    height: 30%;
    min-height: 200px;
  }
  .header {
    font-size: 30px;
  }

  h1 {
    font-size: 20px;
    text: center;
  }

  #joystick {
    width: 60px;
    height: 60px;
    bottom: 10px;
    left: 50%;
  }
  .dir {
    width: 20px;
    height: 20px;
  }
  .dir.up {
    top: 0;
    left: 20px;
  }
  .dir.down {
    bottom: 0;
    left: 20px;
  }
  .dir.left {
    top: 20px;
    left: 0;
  }
  .dir.right {
    top: 20px;
    right: 0;
  }
}
