.cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: url("./babyoil.png");
}

.box {
  height: 500px;
  width: 500px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: solid rgb(253, 131, 151) 2px;
  background-color: pink;
}
.coor {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid rgb(253, 131, 151) 1px;
}
.container {
  display: flex;
  gap: 10px;
}

h1 {
  font-family: "inter", sans-serif;
  font-size: 50px;
  color: pink;
}

.header {
  font-size: 70px;
}
