* {
  margin: 0;
  box-sizing: border-box;
}
.cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://cdn.cnn.com/cnn/interactive/2018/04/us/martin-luther-king-jr-cnnphotos/media/01.jpg");
}

.boxes {
  height: 240px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  height: 80px;
  width: 80px;
  border: solid black 2px;
  background-image: none;
  background-size: cover;
  background-color: white;
}

h1 {
  color: white;
}

.start {
  border-radius: 30px;
  height: 30px;
  width: 60px;
  font-size: 20px;
}
.res {
  border-radius: 30px;
  height: 30px;
  width: 80px;
  font-size: 20px;
}
